<article class="media box">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="http://via.placeholder.com/64x64">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
                <h4 class="post"><%= posts.author %></h4>
                
            <p>
              <span class="post"><%= posts.content %></span>
            </p>
            <span class="post"><small><%= posts.created_at %></small></span>
                <form 
                method="POST" 
                action="/main/<%= posts.id %>?_method=DELETE">
                <button type="submit">Delete</button>
              </form>
          </div>
        </div>
      </article>
      