<article class="media box">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="http://via.placeholder.com/64x64">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <span class="post"><%= posts.content %></span>
            </p>
          </div>
        </div>
      </article>
      