<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>locale</title>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Cookie|Montserrat|Exo+2:800|Open+Sans:400,400i,700" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
        <nav class="navbar nav" role="navigation">
                <div class="navbar-end nav">
                        <div class="navbar-item has-dropdown is-hoverable nav">
                                <a class="navbar-link nav">lo.cale</a>
                        <div class="navbar-dropdown nav">
                            <a id="logout" class="navbar-item nav" href="/auth/logout">Logout</a>
                        </div>
                      </div>
                </div>
              </nav>