<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h2>Edit Form</h2>
        <form 
          method="POST"
          action='/users/<%=user.id%>?_method="PUT"'>
          <div>
                <label for="name">Name:  </label>
                <input
                value="<%= user.name %>"
                type="text"
                name="name"
                id="name" />
                <label for="name">Bio:  </label>
                <input
                value="<%= user.bio %>"
                type="text"
                name="bio"
                id="bio" />
         </div>
              <br />          
              <input type="submit" name="_method" value="PUT" />
        </form>
</body>
</html>
